body{
    background-color: rgb(252, 248, 244);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:  rgb(222, 245, 245);
    height: 80px;
    height: 82px;
    padding: 2px;
    margin-top: -1%;
    margin-left: -6px;
    margin-right: -6px;
}
header h1{
    color: rgb(15, 134, 143);
    margin-left: 5%;
}
span{
    color: red;
}
.heroText h1{
    color: red;
}
.heroText p{
    font-weight: 600;
    height: 80px;
}

.images{
    display: flex;
    height: 280px;
    justify-content: space-around;
    position: relative;
    top: 90px;
    width: 82%;
    align-items: center;
    margin-left: 10%;
    font-weight: 600;
}
.image1{
    background-color: rgb(222, 245, 245);
    width: 290px;
    margin: 2%;
    border-radius: 9px;
}
.image2{
    background-color: rgb(250, 228, 233);
    width: 290px; 
    margin: 2%;
    border-radius: 9px;
}
.image3{
    background-color: rgb(222, 245, 245);
    width: 290px; 
    margin: 2%;
    border-radius: 9px;
}

footer{
    background-color: rgb(250, 228, 233); 
    position: relative;
    top: 200px;
    text-align: center;
    height: 70px;
    font-weight: 600;
    font-size: 16px;
    padding: 2px;
    margin-bottom: -1%;
    margin-left: -6px;
    margin-right: -6px;
}
footer p{
    position: relative;
    top: 50%;
}
a{
    color: black;
    text-decoration: none;
    display: flexbox;
    float:right;
    margin: 2%;
    position: relative;
    bottom: 100%;
    font-weight: 600;
}
img{
    height: 70%;
    width: 85%;
    position: relative;
    left: 8%;
    top: 10px;
    border-radius: 15px;
}
.images p{
    margin-left: 12%;
}
.heroText{
    margin-left: 4%;
}